@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/product-sans");
//colors
$color1: #000000;
$color2: #ffffff;
$color3: #cccccc;
$shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$body-bg: #fff;
$searchcolor: #ebebeb;
$grey: #333;
$btnhover: #ff523b;

//border
$border: 1px solid #ebebeb;

//debugging-border
$debugging-border: 1px solid #666;

//Padding
$padding: 10px 5px;

//fonts
$mainfont: "Poppins", sans-serif;
$secondaryfont: "Product Sans", sans-serif;

//Text-colors
$text-color: #404040;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

// body

body {
  font-family: $secondaryfont;
  font-size: 16px;
  background: $body-bg;
}

//header

header {
  background: #fff;
  height: 65px;
  padding: 20px 0;
  box-shadow: $shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

//logo

.logo {
  font-size: 30px;
  font-weight: 600;
  color: $grey;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;

  &__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;

  }
}

//search

.search {
  position: relative;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: $searchcolor;

  &__input {
    flex: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    height: 100%;
    border-radius: 40px;
    background: none;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
    color: $grey;
  }

  &__button {
    padding-right: 13px;
    right: 10px;
    background: none;
    border: none;
    outline: none;
    color: $grey;
    cursor: pointer;
  }

  &__button:hover {
    color: $btnhover;
  }
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;

  &__item {
    margin: 0 10px;
  }

  &__item a {
    text-decoration: none;
    color: $grey;
    font-size: 16px;
    font-weight: 500;
  }

  &__item a:hover {
    color: $btnhover;
  }
}

.account-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-right: 10px;
  margin-right: 15px;
  border: $border;
  border-radius: 50px;

  &__account-img-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__account-dropdown-items {
    position: absolute;
    top: 50px;
    right: 0;
    background: $color2;
    box-shadow: $shadow;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
  }

  &__account-username {
    font-size: 16px;
    font-weight: 500;
    color: $grey;
  }

  &__account-dropdown-icon {
    font-size: 16px;
    color: $grey;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
    padding: 5px;
    border: $border;
    display: flex;
    align-items: center;
  }
}

// main container

main.main-content {
  width: 100%;
  margin-top: 80px;
  border: 1px solid black; // display: flex;
  // justify-content: space-between;
  // align-items: center;

  //sidebar
  & .sidebar {
    width: 220px;
    border: 1px solid black;
    background: $color2;
    position: fixed;
    top: 80px;
    left: 10px;
    bottom: 0;
    height: max-content;
  }

  & .content {
    margin-left: 250px;
    display: flex;
    flex-flow: column;
    gap: 20px;

    & .top-story {
      border: 1px solid #000000;
      padding: 10px 5px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 20px;

      &__story-title {
        grid-column: 1/3;
        font-size: 1.5rem;
        font-weight: 600;
      }

      &__story {
        border: $debugging-border;
        border-radius: 15px;
        padding: $padding;
        display: flex;
        flex-flow: column;
      }

      &__story-content {
        border: $debugging-border;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: $padding;
      }

      &__story-content-title {
        font-size: 1.2rem;
        font-weight: 500;
        grid-column: 1/2;
      }

      &__story-content-cover {
        border: $debugging-border;
        object-fit: cover;
        grid-row: 1/4;
        grid-column: 2;
        height: 150px;
      }

      &__story-content-description {
        color: $text-color;
        grid-row: 2;
      }

      &__story-footer {
        border: $debugging-border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: $padding;
      }

      &__user {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border: $debugging-border;
        width: max-content;
      }

      &__user-profile-wrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: $debugging-border;
      }

      &__user-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      &__author-name {
        font-size: 1.2rem;
        font-weight: 500;
      }

      &__story-footer-date {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

//sidebar